/*::selection {
  background: #96F550;
}

::-moz-selection {
  background: #96F550;
}*/

.artistName.bass  {
  transform: rotate(-20deg);
}
.about.bass{
  background-color: #96F550
}
.bass .currentDate{
  color: #96F550
}


.bass .website {
  color: #96F550;
  border-bottom: 1px solid rgba(150,245,80,0.3)
}
.bass .website:hover{
border-bottom: 1px solid rgba(150,245,80,1)
}
.speaker:hover.bass {
  color: #96F550;
  border-bottom: 1px solid #96F550;
}
.speaker.past:hover.bass {
  color: rgba(150,245,80,0.3);
  border-bottom: 1px solid rgba(150,245,80,0.3);
}
.speaker.future.current.bass .title{
  color: #96F550;
}

.current.bass {
  border-bottom: 1px solid #96F550;
}
a.bass {
  text-decoration: none;
  color: #96F550;
}
a.bass:hover {
  border-bottom: 1px solid #96F550;
}
.load.bass {
  background-color: #96F550;
}
.home.bass {
  background: url('../assets/img/regina.jpg') repeat center center;
  background-color: #96F550;
  background-blend-mode: multiply;
}
