/*::selection {
  background: rgba(159, 252, 223, 1);
}

::-moz-selection {
  background: rgba(159, 252, 223, 1);
}*/

.artistName.glaser  {
  transform: rotate(-20deg);
}
.about.glaser{
  background-color: rgba(159, 252, 223, 1);

}
.about.glaser:before{
  content: ' ';
   display: block;
   position: absolute;
   left: 50%;
   top: 0;
   width: 50%;
   height: 100%;
   opacity: 0.1;
   background-image: url('https://cooper.edu/sites/default/files/090905-Morgado-246.jpg');
   background-position: center;
   background-repeat: no-repeat;
   -ms-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   filter: grayscale(1);
   background-blend-mode: multiply;
}
.about.glaser.leslie:before{
  content: ' ';
   display: block;
   position: absolute;
   left: 50%;
   top: 0;
   width: 50%;
   height: 100%;
   opacity: 0.1;
   background-image: url('http://www.sikkemajenkinsco.com/images/artwork/2833_08.jpg');
   background-position: center;
   background-repeat: no-repeat;
   -ms-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   filter: grayscale(1);
   background-blend-mode: multiply;
}
.about.glaser.omar:before{
  content: ' ';
   display: block;
   position: absolute;
   left: 50%;
   top: 0;
   width: 50%;
   height: 100%;
   opacity: 0.1;
   background-image: url('http://curatorsintl.org/images/assets/Mdc_Seminar.jpeg');
   background-position: center;
   background-repeat: no-repeat;
   -ms-background-size: cover;
   -o-background-size: cover;
   -moz-background-size: cover;
   -webkit-background-size: cover;
   background-size: cover;
   filter: grayscale(1);
   background-blend-mode: multiply;
}

.glaser .currentDate{
  color: rgba(159, 252, 223, 1)
}

.glaser .website {
  color: rgba(159, 252, 223, 1);
  border-bottom: 1px solid rgba(159, 252, 223, 0.3)
}
.glaser .website:hover{
border-bottom: 1px solid rgba(150,245,80,1)
}
.speaker:hover.glaser {
  color: rgba(159, 252, 223, 1);
  border-bottom: 1px solid rgba(159, 252, 223, 1);
}
.speaker.past:hover.glaser {
  color: rgba(159, 252, 223, 0.3);
  border-bottom: 1px solid rgba(159, 252, 223, 0.3);
}
.speaker.future.current.glaser .title{
  color: rgba(159, 252, 223, 1);
}

.current.glaser {
  border-bottom: 1px solid rgba(159, 252, 223, 1);
}
a.glaser {
  text-decoration: none;
  color: rgba(159, 252, 223, 1);
}
a.glaser:hover {
  border-bottom: 1px solid rgba(159, 252, 223, 1);
}
.load.glaser {
  background-color: rgba(159, 252, 223, 1);
}
.home.glaser {
  background: url('../assets/img/regina.jpg') repeat center center;
  background-color: rgba(159, 252, 223, 1);
  background-blend-mode: multiply;
}
@media screen and (max-width: 820px) {
  .about.glaser:before{
    content: ' ';
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     opacity: 0.1;
     z-index: -1;
     background-image: url('https://cooper.edu/sites/default/files/090905-Morgado-246.jpg');
     background-position: center;
     background-repeat: no-repeat;
     -ms-background-size: cover;
     -o-background-size: cover;
     -moz-background-size: cover;
     -webkit-background-size: cover;
     background-size: cover;
     filter: grayscale(1);
     background-blend-mode: multiply;
  }
  .about.glaser.leslie:before{
    content: ' ';
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     opacity: 0.1;
     z-index: -1;
     background-image: url('http://www.sikkemajenkinsco.com/images/artwork/2833_08.jpg');
     background-position: center;
     background-repeat: no-repeat;
     -ms-background-size: cover;
     -o-background-size: cover;
     -moz-background-size: cover;
     -webkit-background-size: cover;
     background-size: cover;
     filter: grayscale(1);
     background-blend-mode: multiply;
  }
  .about.glaser.omar:before{
    content: ' ';
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     opacity: 0.1;
     z-index: -1;
     background-image: url('http://curatorsintl.org/images/assets/Mdc_Seminar.jpeg');
     background-position: center;
     background-repeat: no-repeat;
     -ms-background-size: cover;
     -o-background-size: cover;
     -moz-background-size: cover;
     -webkit-background-size: cover;
     background-size: cover;
     filter: grayscale(1);
     background-blend-mode: multiply;
  }
}
