html {
  -webkit-tap-highlight-color: transparent;
  font-weight: normal;
  font-smooth: never;
 -webkit-font-smoothing: antialiased;

}
.svgcontainer.hover {
  cursor: pointer;
  pointer-events: all;
}

.stroke.load{
  width:10vh;
  height: 10vh;
  margin-left: 5px;
  transition: 1s;
  animation: dash 3s cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;

}

.stroke2.load{
  opacity: 0;
  width:10vh;
  height: 20vh;
  margin-left: 5px;
  margin-bottom: 5px;
  transition: 1s;
  animation: dash 2s cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

.stroke3.load{
  opacity: 0;
  width:10vh;
  height: 10vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 7.9vh;
  transition: .25s;
  animation: dash 1s cubic-bezier(0.670, 0.005, 0.200, 1.000);
  animation-fill-mode: forwards;
  animation-delay: .8s;
}


.stroke.hover, .stroke2.hover, .stroke3.hover{
  animation: dash2 .5s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
  animation-fill-mode: forwards;


}

.stroke, .stroke2, .stroke3{
  transition: .25s;
}
.stroke.showAbout, .stroke2.showAbout, .stroke3.showAbout{
  stroke: #000000;
}
.stroke.glaser.showAbout, .stroke2.glaser.showAbout, .stroke3.glaser.showAbout{
  stroke: #ffffff;
}
.stroke.showAbout.invert, .stroke2.showAbout.invert, .stroke3.showAbout.invert{
  stroke: #ffffff;
}

@keyframes dash {
0% {
opacity: 1;
stroke-dasharray: 3000;
stroke-dashoffset: 3000;
}
50% {
opacity: 1;
stroke-dasharray: 3000;
stroke-dashoffset: 5;
}
100% {
opacity: 1;
stroke-dasharray: 3000;
stroke-dashoffset: 0;
}
}
@keyframes dash2 {
  0% {
  opacity: 1;
  stroke-dasharray: 50;
  stroke-dashoffset: 200;
  }

  100% {
  opacity: 1;
  stroke-dasharray: 50;
  stroke-dashoffset: 100;
  }
}

@media screen and (min-width: 770px) {


}

@media screen and (max-width: 820px) {
  /*.stroke.showAbout.invert, .stroke2.showAbout.invert, .stroke3.showAbout.invert{
    stroke: #000000;
  }*/

}
