/*::selection {
  background: #3a41a5;
}

::-moz-selection {
  background: #3a41a5;
}*/

.artistName.alex  {
  transform: rotate(-20deg);
}
.speaker:hover.alex {
  color: #3a41a5;
  border-bottom: 1px solid #3a41a5;
}
.speaker.past:hover.alex {
  color: rgba(58,65,165,0.3);
  border-bottom: 1px solid rgba(58,65,165,0.3);
}
.speaker.future.current.alex .title{
  color: #3a41a5;
}

.current.alex {
  border-bottom: 1px solid #3a41a5;
}
a.alex {
  text-decoration: none;
  color: #3a41a5;
}
a.alex:hover {
  border-bottom: 1px solid #3a41a5;
}
.load.alex {
  background-color: #3a41a5;
}
.home.alex {
  background: url('regina.jpg') repeat center center;
  background-color: #3a41a5;
  background-blend-mode: multiply;
}
