/*::selection {
  background: #96F550;
}

::-moz-selection {
  background: #96F550;
}*/

.artistName.alex  {
  transform: rotate(-20deg);
}
.about.alex{
  background-color: #96F550
}
.ids.alex.showAbout{
  color:black;
}
.ids.alex.showAbout hr{
  border-top: 1px solid rgba(0, 0, 0, 0.3);

}
.alex .website {
  color: #96F550;
  border-bottom: 1px solid rgba(150,245,80,0.3)
}
.alex .website:hover{
border-bottom: 1px solid rgba(150,245,80,1)
}
.speaker:hover.alex {
  color: #96F550;
  border-bottom: 1px solid #96F550;
}
.speaker.past:hover.alex {
  color: rgba(150,245,80,0.3);
  border-bottom: 1px solid rgba(150,245,80,0.3);
}
.speaker.future.current.alex .title{
  color: #96F550;
}

.current.alex {
  border-bottom: 1px solid #96F550;
}
a.alex {
  text-decoration: none;
  color: #96F550;
}
a.alex:hover {
  border-bottom: 1px solid #96F550;
}
.load.alex {
  background-color: #96F550;
}
.home.alex {
  background: url('regina.jpg') repeat center center;
  background-color: #96F550;
  background-blend-mode: multiply;
}
