@import url('https://fonts.googleapis.com/css?family=Work+Sans:900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,400i,700,700i&subset=latin-ext');

html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-family: 'Libre Franklin', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;

}

#IDS {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  z-index: 9;
}


.load {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: crimson;
  position: absolute;
  height: 100vh;
  width: 100%;
  animation: load 3s forwards;
}

@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    opacity: 0;
    pointer-events: none;
    z-index: -1;
  }
}

#IDSload {
  width: 25vw;
  margin-bottom: 5vh;
}

.logo {
  background: url('regina.jpg') repeat center center;
  background-blend-mode: multiply;
  background-color: crimson;
  display: table-cell;
  width: 100vw;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
}

.ids {
text-align: left;
position: absolute;
top: 0;
left: 15px;
font-weight: normal;
font-size: 17px;
}

h1 {
  font-weight: normal;
  font-size: 30px;
}

hr {
  border: none;
  height: 10px;
  border-top: 1px solid white;
}
h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 7vw;
  transform: rotate(-45deg);
  transform-origin: center;
}

.credit {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 12px;
  transform: rotate(-90deg);
  transform-origin: right;
}

/*This is the div that contains the past speaker list*/

.info {
  height: 100vh;
  padding-top: 5vw;
}

.speaker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 10vw;
  text-align: left;
  color: white;
  width: 92.5vw;
  margin: auto;
  border-bottom: 1px solid white;
  transition: .4s;
  overflow: hidden;

}
.title{
  width: 92.5vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: absolute;
}
.title:hover{
  cursor: pointer;
}
.copy{
  display: flex;
  align-items: flex-start;
}

.event p {
  font-size: 14px;
  display: inline-block;
  width: 30px;
}

.speaker:hover {
  color: crimson;
  border-bottom: 1px solid crimson;
}
.speaker .copy{
  opacity: 0;
  margin-left: 15.5vw;
  margin-top: 12.5vw;
  color:white;
  transition: .4s;
  pointer-events: none;
}

.speaker .description{
  font-size: 17px;
  width: 50%;
  margin-right: 5vw;
}
.speaker .photo{
  width: 50%;
  height: 50vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.speaker.selected .copy{
  opacity: 1;
  pointer-events: all;
}
.speaker.selected{
  max-height: 90vh;
  padding-bottom: 50px;

}
.speaker .month{
  width: 3vw;
}

.date {
  font-family: Helvetica, Arial, sans-serif;
}

.speaker .date {
  font-size: 9vw;
  font-weight: 400;
}

.speaker .name {
  width: 40vw;
  display: inline-block;
  padding-left: 2.5vw;
  font-size: 40px;
  font-weight: normal;
}
